<h1>About the platform </h1>
<p>
This revolutionary social network platform is designed and developed to change the way artists, especially Africans live, get known and get revenue from what they do!
</p>

