
<h1>Fans Heaven App</h1>
<p>
For artists and fans...This is the first and ever African  made revolutionaly social network  platform made by Africans for Africans and the whole World to connect Artists and their fans!
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

